<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457855816341-u5mqr42nnnfvr3lhnhvvi7fai849c790.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457855816341-u5mqr42nnnfvr3lhnhvvi7fai849c790</string>
	<key>API_KEY</key>
	<string>AIzaSyBNMibcLRJMtN-msWvANd5oDvJPWA05SlA</string>
	<key>GCM_SENDER_ID</key>
	<string>457855816341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersApp</string>
	<key>PROJECT_ID</key>
	<string>shareway-44bae</string>
	<key>STORAGE_BUCKET</key>
	<string>shareway-44bae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457855816341:ios:57a3213acc3d93170e419c</string>
	<key>DATABASE_URL</key>
	<string>https://shareway-44bae-default-rtdb.firebaseio.com</string>
</dict>
</plist>